body{
    
    border: 1px solid green;
    padding: 1px;
    display: block;
    justify-content: center;
    

}

header{
    grid-column: 2/7;
    grid-row: 1 ;
    align-self: center;
    justify-self: center;
}
.title{
    font-family: 'Satisfy', cursive;
    font-size: 48px;
    background-image: linear-gradient(180deg, yellow, #aa8c2c);
    background-clip: text;
    background-size: 100%;
    background-repeat: repeat;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;

    /* text-fill-color: transparent; */
}

div{
    /* border: 1px solid rgb(0, 128, 0) */
    /* padding: 1px; */
}

.redFrame{
    background:red;
    width: 75%;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(8, 1fr );
    grid-template-rows: repeat(6, 1fr);
    border-radius: 20px;
} 


.workspace{
    grid-column: 2 / 8;
    grid-row: 2 / 7 ;

    border: 1px solid rgb(128, 0, 21);
    border-radius: 15px;
    /* width: 500px;
    height: 500px; */
    background: white;
}


.sliderLeft::before,
.sliderLeft, .knob{
    grid-column: 1;
    grid-row: 7;
    justify-self: center;
    /* margin: 20px; */
}


.sliderRight::before,
.sliderRight, .knob{
    grid-column: 8;
    grid-row: 7;
    justify-self: center;
    /* margin: 20px; */
}


.dial::before {
    grid-column: 1;
    grid-row: 6;
    background:rgb(66, 180, 85);
    width:10em;
    height: 10em;
    border-radius: 50%;
    box-shadow: 0px -20px 20px yellow,
        0px 20px 35px blue,
        inset 0px 5px 6px #979797,
        inset 0px -5px 6px #242424;
}

.dial::before, .knob{
    width: 4em;
    height: 4em;
    position: relative;
    grid-column: 1;
    grid-row: 6;
}

.knob::before,
.knob::after,
.dial::before{
    content:'';
position: absolute;
border-radius: 100%;

}

/* background changes the dot color, HxW changes size.  */
.knob::before{
    
    left:50%;
    transform:translateX(-50%);
    width: 10px;
    height: 10px;
    background: orange;
    box-shadow: 0px 0px 10px white;
}

/* halo */
.knob::after{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -68%);
    border: 1px solid #fff;
    width:130%;
    height:130%;
    box-shadow: 0px 0px 10px white,
        inset 0px 0px 10px white;
}