body{
    padding: 1px;
    display: block;
    justify-content: center;
    

}

.displaySettings{
    font-family: 'Pangolin', cursive;
}

.directions {
    font-family: 'Pangolin', cursive;
}

header{
    align-self: center;
    justify-self: center;
}

.title{
    font-family: 'Satisfy', cursive;
    font-size: 48px;
    background-image: linear-gradient(180deg, yellow, #aa8c2c);
    background-clip: text;
    background-size: 100%;
    background-repeat: repeat;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.redFrame{
    background:red;
    width: 25em;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 0em 4em;
} 

.workspace{
    justify-self: center;
    border-radius: 15px;
    width: 25em;
    height: 25em;
    background: white;
}

.displaySettings{
    display: flex;
    justify-content: space-between;
    margin: 10px 0 0 0;}

.colorPicker{
    width: 4em;
}

.controls {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 10px 0;
}


.sliderLeft::before,
.sliderLeft, .knob{
    display: flex;
    grid-column: 1;
    grid-row: 7;
    justify-self: center;
}


.sliderRight::before,
.sliderRight {
    display: flex;
    grid-column: 8;
    grid-row: 7;
    justify-self: center;
}


.dial::before {
    grid-column: 1;
    grid-row: 6;
    background:rgb(255, 255, 255);
    width:10em;
    height: 10em;
    border-radius: 50%;
    box-shadow: 
        inset 0px 5px 6px #979797,
        inset 0px -5px 6px #242424;
}

.dial::before, .knob{
    width: 4em;
    height: 4em;
    position: relative;
    grid-column: 1;
    grid-row: 6;
}

.knob::before,
.knob::after,
.dial::before{
    content:'';
position: absolute;
border-radius: 100%;

}

.knob::before{
    transform:translateX(1.5em);
    width: 10px;
    height: 10px;
    background: rgb(255, 0, 0);
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}